<!DOCTYPE html>
<html lang="pt-BR">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Reabastecimento</title>
    <link rel="stylesheet" href="../static/styles/abastecimento.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
 
<body>
    <div class="cabecalho">
        <a href="{{ url_for('loginrec') }}" class="PaperCS">Paper Controll System</a>
        <a href="{{ url_for('loginrec') }}" class="exitbutton">
            <img src="../static/images/exitbutton.png" alt="Botão Pequeno" class="exitbutton">
        </a>
    </div>
 
    <div class="container">
        <div class="button-container">
            <div class="predios">
                <select id="building">
                    <option value="" selected disabled hidden>Selecione o prédio</option>
                    <option value="minas">Minas</option>
                    <option value="gerais">Gerais</option>
                    <option value="alterosa">Alterosa</option>
                    <option value="tiradentes">TiraDentes</option>
                </select>
            </div>
 
            <div class="andar">
                <select id="floor">
                    <option value="" selected disabled hidden>Selecione o andar</option>
                </select>
            </div>
 
            <div class="ilhas">
                <select id="island">
                    <option value="" selected disabled hidden>Selecione a ilha</option>
                </select>
            </div>
        </div>
 
        <input type="number" class="quantity-input" placeholder="Quantidade">
 
        <button class="Enviar">Reabastecer</button>
 
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const buildingDropdown = document.getElementById('building');
                const floorDropdown = document.getElementById('floor');
                const islandDropdown = document.getElementById('island');
                const quantityInput = document.querySelector('.quantity-input');
                const reabastecerBtn = document.querySelector('.Enviar');
                quantityInput.disabled = true;
 
                function enableQuantityInput() {
                    const buildingSelected = buildingDropdown.value !== "";
                    const floorSelected = floorDropdown.value !== "";
                    const islandSelected = islandDropdown.value !== "";
 
                    if (buildingSelected && floorSelected && islandSelected) {
                        quantityInput.disabled = false;
                    } else {
                        quantityInput.disabled = true;
                    }
 
                    reabastecerBtn.disabled = !quantityInput.disabled;
                }
 
 
                buildingDropdown.addEventListener('change', function () {
                    enableQuantityInput();
                    floorDropdown.selectedIndex = 0;
                    islandDropdown.selectedIndex = 0;
                    quantityInput.value = '';
                    quantityInput.disabled = true;
 
                    const building = buildingDropdown.value;
                    floorDropdown.innerHTML = '<option value="" selected disabled hidden>Selecione o andar</option>';
 
                    if (building !== "") {
                        const floorsData = {
                            minas: ['Andar 1', 'Andar 2', 'Andar 3', 'Andar 4', 'Andar 5', 'Andar 6', 'Andar 7', 'Andar 8', 'Andar 9', 'Andar 10', 'Andar 11', 'Andar 12', 'Andar 13', 'Andar 14'],
                            gerais: ['Andar 1', 'Andar 2', 'Andar 3', 'Andar 4', 'Andar 5', 'Andar 6', 'Andar 7', 'Andar 8', 'Andar 9', 'Andar 10', 'Andar 11', 'Andar 12', 'Andar 13', 'Andar 14'],
                            alterosa: ['Andar 1'],
                            tiradentes: ['Andar 1']
                        };
 
                        floorsData[building].forEach(floor => {
                            const option = document.createElement('option');
                            option.value = floor;
                            option.textContent = floor;
                            floorDropdown.appendChild(option);
                        });
                    }
                });
 
                floorDropdown.addEventListener('change', function () {
                    enableQuantityInput();
                    islandDropdown.selectedIndex = 0;
                    quantityInput.value = '';
                    quantityInput.disabled = true;
 
                    const building = buildingDropdown.value;
                    const floor = floorDropdown.value;
                    islandDropdown.innerHTML = '<option value="" selected disabled hidden>Selecione a ilha</option>';
 
                    if (building !== "" && floor !== "") {
                        const islandsData = {
                            minas: 8,
                            gerais: 8,
                            alterosa: 1,
                            tiradentes: 1
                        };
 
                        for (let i = 1; i <= islandsData[building]; i++) {
                            const option = document.createElement('option');
                            option.value = `Ilha ${i}`;
                            option.textContent = `Ilha ${i}`;
                            islandDropdown.appendChild(option);
                        }
                    }
                });
 
                islandDropdown.addEventListener('change', function () {
                    enableQuantityInput();
                });
 
                quantityInput.addEventListener('input', function () {
                    this.value = this.value.replace(/[^0-9]/g, '');
                });
            });
        </script>
    </div>
</body>
 
</html>