<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - PaperControlSystem</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins'
        rel='stylesheet'>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles/loginrec.css') }}">
    <link rel="icon" href="../static/images/zezinhobola.png">
</head>

<body>
    {% if ilhas_reposicao %}
    <div class="popup-content" style="display: block;"> <!-- Adicionei style="display: block;" -->
        <p>As seguintes ilhas precisam de reposição:</p>
        <ul>
            {% for ilha in ilhas_reposicao %}
            <li>{{ ilha['ilha'] }}: {{ ilha['quantidade'] }} resmas</li>
            {% endfor %}
        </ul>
        <button id="fecharPopup">Fechar</button>
    </div>
    {% endif %}

    <div class="cabecalho">
        <a href="{{ url_for('loginrec') }}" class="PaperCS">Paper Controll
            System</a>
        <a href="{{ url_for('fazer_login') }}" class="exitbutton">
            <img src="../static/images/exitbutton.png" alt="Botão Pequeno"
                class="exitbutton">
        </a>
    </div>

    <div id="exitPopup" class="exit-popup">
        <div class="popup-content">
            <p>Deseja mesmo sair?</p>
            <div class="button-container">
                <button id="simButton">Sim</button>
                <button id="naoButton">Não</button>
            </div>
        </div>
    </div>

    <form method="post" action="{{ url_for('loginrec') }}">
        <div class="content">
            <div class="button-container">
                <a href="{{ url_for('abastecimento') }}"
                    class="Semanal">Abastecimento</a>
                <a href="{{ url_for('reabastecimento') }}"
                    class="Reabastecimento">Solicitar Reabastecimento</a>
            </div>
        </div>

        <div class="estoque-container">
            <p>Seu estoque atual:</p>
            <p>
                <span class="numero-estoque" id="quantidade-estoque"
                    data-quantidade-estoque="{{ quantidade_estoque }}">
                    {{ quantidade_estoque }}
                </span>
            </p>
            <p> resma(s)</p>
        </div>
        <a href="{{ url_for('ajudaOZe') }}" class="zezinhobola">
            <img src="../static/images/zezinhobola.png" alt="Zezinho">
        </a>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const simButton = document.getElementById('simButton');
            const naoButton = document.getElementById('naoButton');
            const exitPopup = document.getElementById('exitPopup');
            const exitButton = document.querySelector('.exitbutton');
    
            if (simButton && naoButton && exitPopup && exitButton) {
                const fecharPopupBtn = document.getElementById('fecharPopup');
                const popupContent = document.querySelector('.popup-content');
    
                simButton.addEventListener('click', function () {
                    window.location.href = "{{ url_for('fazer_login') }}";
                });
    
                naoButton.addEventListener('click', function () {
                    exitPopup.style.display = 'none';
                });
    
                if (fecharPopupBtn) {
                    fecharPopupBtn.addEventListener('click', function () {
                        popupContent.style.display = 'none';
                        document.cookie = 'showPopup=false; expires=Fri, 31 Dec 9999 23:59:59 GMT';
    
                        const ilhas_reposicao = [];
                        document.querySelectorAll('.popup-content ul li').forEach(function (item) {
                            ilhas_reposicao.push(item.textContent.split(': ')[0]);
                        });
    
                        fetch('/excluir_popup', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ ilhas_reposicao: ilhas_reposicao })
                        }).then(response => {
                            if (!response.ok) {
                                throw new Error('Erro ao excluir os dados do popup');
                            }
                        }).catch(error => {
                            console.error('Erro ao excluir os dados do popup:', error);
                        });
                    });
                }
    
                // Adicionando um ouvinte de evento para o botão de saída
                exitButton.addEventListener('click', function(event) {
                    event.preventDefault(); // Evita o comportamento padrão do link
                    exitPopup.style.display = 'block';
                });
            }
        });
    
        const socket = io.connect('http://' + document.domain + ':' + location.port);
    
        socket.on('atualizar_popup', function(data) {
            document.getElementById('popup').innerText = data.mensagem;
        });
    </script>
</body>

</html>
