<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaperControllSystem ADM</title>
    <link rel="stylesheet" href="../static/styles/loginadm.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<form method="post" action="{{ url_for('loginadm')  }}">

    <body>
        <div class="cabecalho">
            <a href="{{ url_for('loginadm') }}" class="PaperCS">Paper Control System</a>
            <a href="{{ url_for('fazer_login') }}" class="exitbutton">
                <img src="../static/images/exitbutton.png" alt="Botão Pequeno" class="exitbutton">
            </a>
        </div>
        <div class="recep-info">
            <p>30</p>
            <p> recep. abastecidas</p>
        </div>
        <div class="button-container">
            <button class="Relatorio">Gerar Relatorio</button>
        </div>
        <div class="grafico-container">
            <canvas id="graficoColunas" class="grafico-colunas"></canvas>
        </div>
        <script>
            const ctx = document.getElementById('graficoColunas').getContext('2d');
        
            // Modificar para usar os dados do servidor
            const predios = JSON.parse('{{ dados_predios | safe }}');
        
            // Calcular o total do estoque do prédio
            const totalEstoquePredio = predios.reduce((total, item) => total + item.total_reposicao, 0);
        
            const data = {
                labels: predios.map(item => item.predio),
                datasets: [{
                    label: 'Porcentagem Concluída',
                    data: predios.map(item => (item.total_reposicao / totalEstoquePredio) * 100),
                    backgroundColor: 'rgba(255, 255, 255, 255)',
                    borderColor: 'rgba(255, 255, 255, 255)',
                    borderWidth: 1,
                    barThickness: 10,
                    borderRadius: 5,
                }]
            };
        
            const config = {
                type: 'bar',
                data: data,
                options: {
                    scales: {
                        y: {
                            ticks: {
                                stepSize: 25,
                                callback: function (value) {
                                    return value + '%';
                                },
                                min: 0,
                                max: 100,
                                color: 'white'
                            }
                        },
                        x: {
                            ticks: {
                                color: 'white'
                            }
                        }
                    },
                }
            };
        
            const myChart = new Chart(ctx, config);
        </script>        
        
    </body>
</form>

</html>