<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaperControllSystem ADM</title>
    <link rel="stylesheet" href="../static/styles/loginadm.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="icon" href="../static/images/zezinhobola.png">
</head>

<body>
    <div id="exitPopup" class="exit-popup">
        <div class="popup-content">
            <p>Deseja mesmo sair?</p>
            <div class="button-container">
                <button id="simButton">Sim</button>
                <button id="naoButton">Não</button>
            </div>
        </div>
    </div>
    <form method="post" action="{{ url_for('loginadm')  }}">

        <div class="cabecalho">
            <a href="{{ url_for('loginadm') }}" class="PaperCS">Paper Controll System</a>
            <a href="{{ url_for('fazer_login') }}" class="exitbutton">
                <img src="../static/images/exitbutton.png" alt="Botão Pequeno" class="exitbutton">
            </a>
        </div>
        <div class="recep-info">
            <p>30</p>
            <p> recep. abastecidas</p>
        </div>
        <div class="button-container">
            <a href="{{ url_for('relatoriosadm') }}" class="Relatorios">Gerar Relatorios</a>
            <a href="{{ url_for('quantidadeadm') }}" class="Relatorios">Quantidade por Andar</a>
            <a href="{{ url_for('enviarPopup') }}" class="Relatorios">Enviar Notificação</a>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const exitButton = document.querySelector('.exitbutton');
                const exitPopup = document.getElementById('exitPopup');
                const simButton = document.getElementById('simButton');
                const naoButton = document.getElementById('naoButton');

                exitButton.addEventListener('click', function (event) {
                    event.preventDefault();
                    exitPopup.style.display = 'flex';
                });

                simButton.addEventListener('click', function () {
                    window.location.href = "{{ url_for('fazer_login') }}";
                });

                naoButton.addEventListener('click', function () {
                    exitPopup.style.display = 'none';
                });
            });

        </script>

</body>
</form>

</html>