<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/loading.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
</head>
<body>
  <div id="background-image">
    <img src="{{ url_for('static', filename='images/zezinho.png') }}" alt="Zezinho">
  </div>
  <div id="login-container" class="hidden">
    <h1>Seja bem-vindo</h1>
    <form action="/fazer_login" method="post">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" required>

      <button type="submit">Entrar</button>
    </form>
    <div id="footer">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
      <!-- Conteúdo do rodapé, se necessário -->
    </div>
  </div>
  <script>
    window.addEventListener('load', function () {
      document.getElementById('background-image').style.display = 'none';
      document.getElementById('login-container').classList.remove('hidden');
    });
  </script>
</body>
</html>
