<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entrar - PaperControllSystem</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/loading.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
  <link rel="icon" href="../static/images/zezinhobola.png">
</head>

<body>
  <div id="background-image"></div>
  <div class="login-form" id="login-container">
    <form method="post" action="{{ url_for('fazer_login') }}">
      <label for="email" class="label">Login</label>
      <input type="email" id="email" name="email" placeholder="Digite seu email:" class="email">
      <label for="senha" class="label">Senha</label>
      <input type="password" id="senha" name="senha" placeholder="Digite sua senha:" class="senha">
      <button type="submit" class="botao-entrar">Entrar</button>
    </form>
    <div id="mensagem-sucesso" class="mensagem-sucesso hidden">
      Autenticação bem-sucedida! Você será redirecionado em breve.
    </div>
    <div id="mensagem-erro" class="mensagem-erro hidden">
      Credenciais inválidas. Por favor, tente novamente.
    </div>
  </div>

  <script>
    window.addEventListener('load', function () {
      document.getElementById('background-image').style.display = 'none';
      document.getElementById('login-container').classList.remove('hidden');
  
      // Recupera parâmetros da URL
      const urlParams = new URLSearchParams(window.location.search);
      const mensagemSucesso = urlParams.get('mensagem_sucesso');
      const mensagemErro = urlParams.get('mensagem_erro');
  
      // Exibe ou oculta as mensagens com base nos parâmetros
      if (mensagemSucesso) {
        document.getElementById('mensagem-sucesso').classList.remove('hidden');
      } else if (mensagemErro) {
        document.getElementById('mensagem-erro').classList.remove('hidden');
      }
    });
  </script>
</body>

</html>