<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaperControllSystem ADM</title>
    <link rel="stylesheet" href="../static/styles/quantidadeadm.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
</head>

<body>
    <div class="cabecalho">
        <a href="{{ url_for('loginadm') }}" class="PaperCS">Paper Control System</a>
        <a href="{{ url_for('fazer_login') }}" class="exitbutton">
            <img src="../static/images/exitbutton.png" alt="Botão Pequeno" class="exitbutton">
        </a>
    </div>
    <div id="exitPopup" class="exit-popup">
        <div class="popup-content">
            <p>Deseja mesmo sair?</p>
            <div class="button-container">
                <button id="simButton">Sim</button>
                <button id="naoButton">Não</button>
            </div>
        </div>
    </div>

    <div class="upload-container">
        <form method="post" action="{{ url_for('quantidadeadm') }}" enctype="multipart/form-data">
            <label for="excelFile" class="upload-label">
                <span id="file-name-display">Escolha e selecione o</span>
                <span>seu arquivo aqui</span>
            </label>
            <input type="file" name="excelFile" id="excelFile" accept=".xlsx, .xls" onchange="displayFileName()" />
            <button type="submit" class="enviar-button">Enviar</button>
        </form>
    </div>

    <script>
        function displayFileName() {
            const fileInput = document.getElementById('excelFile');
            const fileNameDisplay = document.getElementById('file-name-display');

            if (fileInput.files.length > 0) {
                const fileName = fileInput.files[0].name;
                fileNameDisplay.textContent = fileName;
            } else {
                fileNameDisplay.textContent = "Arraste o arquivo aqui ou clique para selecionar";
            }
        }

        function processFile() {
            const fileInput = document.getElementById('excelFile');
            const file = fileInput.files[0];
            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const data = new Uint8Array(e.target.result);
                    const workbook = XLSX.read(data, { type: 'array' });

                    // Aqui você pode fazer algo com o objeto workbook antes de enviar para o servidor

                    // Convertendo para JSON
                    const jsonData = XLSX.utils.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]]);

                    // Enviar os dados para o servidor via requisição AJAX
                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', '/quantidadeadm', true);
                    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            console.log(xhr.responseText);
                        } else {
                            console.error('Erro ao enviar dados para o servidor.');
                        }
                    };
                    xhr.send(JSON.stringify(jsonData));
                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            console.log(xhr.responseText);
                        } else {
                            console.error('Erro ao enviar dados para o servidor.');
                        }
                    };                    
                };

                reader.readAsArrayBuffer(file);
            } else {
                alert("Por favor, escolha um arquivo Excel antes de enviar.");
            }
        }
        document.addEventListener('DOMContentLoaded', function () {
            const exitButton = document.querySelector('.exitbutton');
            const exitPopup = document.getElementById('exitPopup');
            const simButton = document.getElementById('simButton');
            const naoButton = document.getElementById('naoButton');

            exitButton.addEventListener('click', function (event) {
                event.preventDefault();
                exitPopup.style.display = 'flex';
            });

            simButton.addEventListener('click', function () {
                window.location.href = "{{ url_for('fazer_login') }}";
            });

            naoButton.addEventListener('click', function () {
                exitPopup.style.display = 'none';
            });
        });
    </script>
</body>

</html>