<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Reabastecimento</title>
    <link rel="stylesheet" href="../static/styles/reabastecimento.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="icon" href="../static/images/zezinhobola.png">
</head>

<body>
    <div class="popup" id="successPopup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <p>Reabastecimento solicitado com sucesso!</p>
            <button onclick="returnToLogin()">OK</button>
        </div>
    </div>
    <div id="exitPopup" class="exit-popup">
        <div class="popup-content">
            <p>Deseja mesmo sair?</p>
            <div class="button-container">
                <button id="simButton">Sim</button>
                <button id="naoButton">Não</button>
            </div>
        </div>
    </div>
    <form id="reabastecimentoForm" method="post" action="/Reabastecimento">
        <input type="hidden" name="id_user" value="quantidade_estoque.id_user">

        <div class="cabecalho">
            <a href="/RepositorHome" class="PaperCS">Paper Controll System</a>
            <a href="/fazer_login" class="exitbutton">
                <img src="../static/images/exitbutton.png" alt="Botão Pequeno" class="exitbutton">
            </a>
        </div>

        <div class="container">
            <div class="button-container">
                <div class="predios">
                    <select id="predio" name="predio">
                        <option value="" selected disabled hidden>Selecione o prédio</option>
                        {% for predio in options_predio %}
                            <option value="{{ predio }}">{{ predio }}</option>
                        {% endfor %}
                    </select>
                </div>                

                <div class="andar">
                    <select id="andar" name="andar">
                        <option value="" selected disabled hidden>Selecione o andar</option>
                        <option value="{{ andar_usuario }}">{{ andar_usuario }}</option>
                    </select>
                </div>
                <input id="nome_reposicao" type="text" class="name_input" name="Nome" placeholder="Nome">
                <input id="quantidade_reposicao" type="number" class="quantity-input" name="quantidade_reposicao"
                    placeholder="Quantidade">
            </div>
        </div>

        <button class="Enviar" type="submit">Reabastecer</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const buildingDropdown = document.getElementById('predio');
            const floorDropdown = document.getElementById('andar');
            const quantityInput = document.querySelector('.quantity-input');
            quantityInput.disabled = true;

            function enableQuantityInput() {
                const buildingSelected = buildingDropdown.value !== "";
                const floorSelected = floorDropdown.value !== "";

                if (buildingSelected && floorSelected) {
                    quantityInput.disabled = false;
                } else {
                    quantityInput.disabled = true;
                }
            }

            buildingDropdown.addEventListener('change', function () {
                enableQuantityInput();
                floorDropdown.selectedIndex = 0;
                quantityInput.value = '';
                quantityInput.disabled = true;
            });

            floorDropdown.addEventListener('change', function () {
                enableQuantityInput();
            });

            quantityInput.addEventListener('input', function () {
                this.value = this.value.replace(/[^0-9]/g, '');
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            // Função para validar e exibir o pop-up
            const form = document.getElementById('reabastecimentoForm');
            form.addEventListener('submit', function (event) {
                const dropdowns = form.querySelectorAll('select');
                const quantityInput = form.querySelector('.quantity-input');

                let hasEmptyFields = false;

                dropdowns.forEach(dropdown => {
                    if (dropdown.value === "") {
                        dropdown.classList.add('campo-faltando');
                        hasEmptyFields = true;
                    } else {
                        dropdown.classList.remove('campo-faltando');
                    }
                });

                if (quantityInput.value.trim() === "") {
                    quantityInput.classList.add('campo-faltando');
                    hasEmptyFields = true;
                } else {
                    quantityInput.classList.remove('campo-faltando');
                }

                if (hasEmptyFields) {
                    event.preventDefault();
                    alert("Por favor, preencha todos os campos destacados em vermelho.");
                } else {
                    event.preventDefault(); // Evitar o envio padrão do formulário
                    showPopup(); // Mostrar o pop-up após validação
                }
            });
        });

        // Função para mostrar o pop-up e redirecionar após 3 segundos
        function showPopup() {
            const successPopup = document.getElementById('successPopup');
            successPopup.style.display = 'block';

            setTimeout(function () {
                returnToLogin(); // Redirecionamento para a página loginrec
            }, 3000);
        }

        // Função para redirecionar para a página loginrec
        function returnToLogin() {
            // Substitua a URL pela rota correta em sua aplicação
            window.location.href = "/loginrec";
        }

        // Função para fechar o pop-up
        function closePopup() {
            const successPopup = document.getElementById('successPopup');
            successPopup.style.display = 'none';
        }

        function returnToLogin() {
            const form = document.getElementById('reabastecimentoForm');
            const formData = new FormData(form);

            fetch('/Reabastecimento', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        window.location.href = "/RepositorHome";
                    } else {
                        // Trate aqui caso a submissão dos dados falhe
                        console.error("Erro ao salvar dados no banco");
                    }
                })
                .catch(error => {
                    console.error("Erro ao conectar com o servidor:", error);
                });
        }

        document.addEventListener('DOMContentLoaded', function () {
            const exitButton = document.querySelector('.exitbutton');
            const exitPopup = document.getElementById('exitPopup');
            const simButton = document.getElementById('simButton');
            const naoButton = document.getElementById('naoButton');

            exitButton.addEventListener('click', function (event) {
                event.preventDefault();
                exitPopup.style.display = 'flex';
            });

            simButton.addEventListener('click', function () {
                window.location.href = "{{ url_for('fazer_login') }}";
            });

            naoButton.addEventListener('click', function () {
                exitPopup.style.display = 'none';
            });
        });
    </script>
</body>

</html>
