<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaperControllSystem ADM</title>
    <link rel="stylesheet" href="../static/styles/relatoriosadm.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body>
    <div class="cabecalho">
        <a href="{{ url_for('loginadm') }}" class="PaperCS">Paper Control System</a>
        <a href="{{ url_for('fazer_login') }}" class="exitbutton">
            <img src="../static/images/exitbutton.png" alt="Botão Pequeno" class="exitbutton">
        </a>
    </div>
    <div id="exitPopup" class="exit-popup">
        <div class="popup-content">
            <p>Deseja mesmo sair?</p>
            <div class="button-container">
                <button id="simButton">Sim</button>
                <button id="naoButton">Não</button>
            </div>
        </div>
    </div>

    <form method="post" action="{{ url_for('relatoriosadm') }}">
        <div class="container">
            <div class="select_container">
                <select id="relatorio" name="relatorio">
                    <option value="" selected disabled hidden>Selecione o tipo de relatorio</option>
                    <option value="Completo">Completo</option>
                    <option value="Reposições">Reposições</option>
                    <option value="Usuários">Usuários</option>
                </select>
            </div>
            <div id="tipoRelatorioDropdown" class="opcoes" style="display: none;">
                <select id="tipoRelatorio" name="tipoRelatorio">
                    <option value="" selected disabled hidden>Selecione o tipo de relatorio</option>
                    <option value="Completo">Completo</option>
                </select>
            </div>
            <div id="tipoReposicoesDropdown" class="opcoes" style="display: none;">
                <select id="tipoReposicoes" name="tipoReposicoes">
                    <option value="" selected disabled hidden>Selecione o tipo de relatorio</option>
                    <option value="Completo">Todas as Reposições</option>
                    <option value="Por Prédio">Por Prédio</option>
                    <option value="Por Data">Por Data</option>
                    <option value="Por Tipo">Por Tipo</option>
                </select>
            </div>
            <div class="predio" style="display: none;">
                <select id="selectPredio" name="selectPredio">
                    <option value="" selected disabled hidden>Selecione o prédio</option>
                    <option value="Minas">Minas</option>
                    <option value="Gerais">Gerais</option>
                </select>
            </div>
            <div class="tipo" style="display: none;">
                <select id="selectTipo" name="selectTipo">
                    <option value="" selected disabled hidden>Selecione o tipo de reposição</option>
                    <option value="Semanal">Semanal</option>
                    <option value="Pontual">Pontual</option>
                </select>
            </div>
            <div class="data_reposicao" style="display: none;">
                <input type="text" id="data_reposicao" name="data_reposicao" data-input
                    placeholder="Selecione o Período:">
            </div>
        </div>

        <button class="Enviar" type="submit" style="display: none;">Gerar relatorio</button>
    </form>

    <script>
        const relatorioDropdown = document.getElementById('relatorio');
        const tipoRelatorioDropdown = document.getElementById('tipoRelatorioDropdown');
        const tipoRelatorioSelect = document.getElementById('tipoRelatorio');
        const tipoReposicoesDropdown = document.getElementById('tipoReposicoesDropdown');
        const tipoReposicoesSelect = document.getElementById('tipoReposicoes');
        const botaoGerarRelatorio = document.querySelector('.Enviar');
        const flatpickrContainer = document.querySelector('.data_reposicao');
        const selectPredio = document.querySelector('.predio');
        const selectTipo = document.querySelector('.tipo'); // Adição da linha para obter a referência

        // Inicialize o seletor de data para um intervalo
        const flatpickrInstance = flatpickr("#data_reposicao", {
            mode: "range", // Permite seleção de intervalo de datas
            enableTime: false,
        });

        function verificarVisibilidadePredio() {
            selectPredio.style.display = tipoReposicoesSelect.value === 'Por Prédio' ? 'block' : 'none';
        }

        function verificarVisibilidadeTipo() {
            const mostrarTipo = tipoReposicoesSelect.value === 'Por Tipo';
            selectTipo.style.display = mostrarTipo ? 'block' : 'none';
        }

        tipoReposicoesSelect.addEventListener('change', verificarVisibilidadePredio);
        tipoReposicoesSelect.addEventListener('change', verificarVisibilidadeTipo); // Adição da linha
        verificarVisibilidadePredio();
        verificarVisibilidadeTipo();

        function verificarVisibilidadeData() {
            const mostrarData = tipoRelatorioSelect.value === 'Por Data' || tipoReposicoesSelect.value === 'Por Data';
            flatpickrContainer.style.display = mostrarData ? 'block' : 'none';
        }

        function atualizarVisibilidadeBotao() {
            const filtroPorData = tipoRelatorioSelect.value === 'Por Data' || tipoReposicoesSelect.value === 'Por Data';
            const filtroPorUsuario = relatorioDropdown.value === 'Usuários';
            const tipoRelatorioSelecionado = tipoRelatorioSelect.value !== "";
            const tipoReposicoesSelecionado = tipoReposicoesSelect.value !== "";

            if (filtroPorData || filtroPorUsuario || tipoRelatorioSelecionado || tipoReposicoesSelecionado) {
                botaoGerarRelatorio.style.display = 'block';
                flatpickrContainer.style.display = 'block';
            } else {
                botaoGerarRelatorio.style.display = 'none';
                flatpickrContainer.style.display = 'none';
            }
            verificarVisibilidadeData();
        }

        relatorioDropdown.addEventListener('change', function () {
            tipoRelatorioDropdown.style.display = 'none';
            tipoRelatorioSelect.selectedIndex = 0;
            tipoReposicoesDropdown.style.display = 'none';
            tipoReposicoesSelect.selectedIndex = 0;

            if (relatorioDropdown.value === 'Completo') {
                tipoRelatorioDropdown.style.display = 'block';
            } else if (relatorioDropdown.value === 'Reposições') {
                tipoReposicoesDropdown.style.display = 'block';
            }
            verificarVisibilidadeData();
        });

        tipoRelatorioSelect.addEventListener('change', function () {
            atualizarVisibilidadeBotao();
            if (tipoRelatorioSelect.value === 'Por Data') {
                flatpickrContainer.style.display = 'block';
            } else {
                flatpickrContainer.style.display = 'none';
            }
            verificarVisibilidadeData();
        });

        tipoRelatorioSelect.addEventListener('change', atualizarVisibilidadeBotao);
        tipoReposicoesSelect.addEventListener('change', atualizarVisibilidadeBotao);
        relatorioDropdown.addEventListener('change', atualizarVisibilidadeBotao);

        document.addEventListener('DOMContentLoaded', function () {
            const exitButton = document.querySelector('.exitbutton');
            const exitPopup = document.getElementById('exitPopup');
            const simButton = document.getElementById('simButton');
            const naoButton = document.getElementById('naoButton');

            exitButton.addEventListener('click', function (event) {
                event.preventDefault();
                exitPopup.style.display = 'flex';
            });

            simButton.addEventListener('click', function () {
                window.location.href = "{{ url_for('fazer_login') }}";
            });

            naoButton.addEventListener('click', function () {
                exitPopup.style.display = 'none';
            });
        });

    </script>

</body>

</html>
