body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-image: url('../images/background-zezinho.png');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}
 
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1A5A6B;
    margin-top: 15px;
}
 
/* Estilos para o botão do Paper Control System */
.PaperCS {
    margin: 10px;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: #23A0BA;
    color: white;
    outline: none;
    text-decoration: none;
}
 
.exitbutton {
    width: 28px;
}
 
.formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 500px;
    position: relative;
}
 
.formulario h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1A5A6B;
}
 
/* Estilizando o dropdown */
#tipo {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #f9f9f9;
}
 
/* Estilizando o campo de descrição */
#problema {
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: vertical;
    background-color: #f9f9f9;
    height: 200px;
}
 
/* Estilizando o botão de enviar */
button[type="submit"] {
    padding: 12px 20px;
    background-color: #23A0BA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
 
button[type="submit"]:hover {
    background-color: #1A5A6B;
}
 
.campo-com-contador {
    position: relative;
    margin-bottom: 20px;
    /* Ajuste conforme necessário */
}
 
.contador-caracteres {
    margin-top: 5px;
    /* Ajuste conforme necessário */
    font-size: 12px;
    /* Ajuste conforme necessário */
    color: #888;
    /* Ajuste conforme necessário */
    text-align: right;
    /* Para alinhar à direita */
}
 
.exit-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
 
.exit-popup .popup-content {
    background-color: white;
    /* Background branco */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}
 
.exit-popup .popup-content p {
    font-size: 18px;
    margin-bottom: 20px;
}
 
.exit-popup .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
}
 
.exit-popup .button-container button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
 
.exit-popup .button-container button#simButton {
    background-color: #3498db;
    /* Botões azuis */
    color: white;
}
 
.exit-popup .button-container button#naoButton {
    background-color: #e74c3c;
    color: white;
}
 
@media (max-width: 768px) {
    .formulario {
        margin: 20px;
        margin-bottom: 200px;
        margin-top: 90px;
    }
 
    .formulario h1 {
        margin-bottom: 15px;
    }
 
    #problema {
        width: 90%;
        margin-bottom: 15px;
    }
 
    #tipo {
        width: 96%;
        margin-bottom: 15px;
    }
 
}
 
button[type="submit"] {
    width: 30%;
    margin-left: 120px;
}
 
@media only screen and (min-width: 900px) {
 
    button[type="submit"] {
        margin-left: 400px;
    }
}
 
@media only screen and (max-width: 360px) {
 
    .formulario {
        margin-top: 20px;
        height: 470px;
    }
 
    button[type="submit"] {
        margin-left: 100px;
 
    }
 
    #problema {
        height: 140px;
    }
 
}
 
@media only screen and (max-width: 390px) {
 
    .formulario {
        margin-top: 20px;
        height: 470px;
    }
 
    button[type="submit"] {
        margin-left: 100px;
 
    }
 
    #problema {
        height: 140px;
    }
 
}