body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-image: url(../images/background-pc.png);
    display: grid;
    grid-template-rows: auto 1fr;
}
 
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1A5A6B;
    margin-top: 15px;
}
 
.exitbutton {
    width: 28px;
}
 
.recep-info {
    background-color: black;
    border-radius: 50%;
    color: white;
    padding: 30px;
    width: 200px;
    height: 200px;
    margin: 40px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.6;
}
 
.recep-info p:first-child {
    font-size: 90px;
    /* Tamanho de fonte grande para o primeiro parágrafo */
    margin-bottom: 5px;
    /* Espaçamento inferior menor para o primeiro parágrafo */
}
 
.recep-info p {
    font-size: 1em;
    /* Tamanho de fonte padrão para os outros parágrafos */
    margin: 0;
    /* Redefinir as margens para evitar espaçamento indesejado */
}
 
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.PaperCS {
    margin: 10px;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: #23A0BA;
    color: white;
    outline: none;
    text-decoration: none;
}
 
.Relatorios {
    width: 300px;
    font-size: 24px;
    padding: 16px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: #23A0BA;
    color: white;
    outline: none;
    display: block;
    text-align: center;
    text-decoration: none;
}
 
.exit-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
 
.exit-popup .popup-content {
    background-color: white;
    /* Background branco */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}
 
.exit-popup .popup-content p {
    font-size: 18px;
    margin-bottom: 20px;
}
 
.exit-popup .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
}
 
.exit-popup .button-container button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
 
.exit-popup .button-container button#simButton {
    background-color: #3498db;
    /* Botões azuis */
    color: white;
}
 
.exit-popup .button-container button#naoButton {
    background-color: #e74c3c;
    color: white;
}
 
/* Estilos para dispositivos maiores (desktop) */
@media only screen and (min-width: 768px) {
    .grafico-container {
        width: 300px;
        max-width: 600px;
    }
 
    body {
        background-size: 100% 102%;
        /* Exibe a imagem de fundo cobrindo todo o espaço */
        background-attachment: fixed;
    }
}