body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-image: url('../images/background-zezinho.png');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}
 
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1A5A6B;
    margin-top: 15px;
}
 
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* Ajuste de margem para evitar estender a tela */
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    overflow: hidden;
}
 
.close-button {
    background-color: #3498db; 
    border-radius: 20px; 
    color: white; 
    padding: 10px 30px; 
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
 
.estoque-info {
    text-align: center;
    background-color: white;
    border-radius: 15px;
    color: white;
    width: 380px;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 18px;
}

.estoque-container {
    position: fixed;
    width: 300px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 40px; /* Aumentando o preenchimento para dar mais espaço */
    border-radius: 10px;
    max-width: 80%; /* Definindo uma largura máxima para evitar que fique muito largo */
    text-align: center; /* Centralizando o conteúdo */
}
 
.numero-estoque {
    font-size: 36px; /* Ajustando o tamanho do número */
    display: block; /* Garantindo que o número fique centralizado */
    margin-top: 20px; /* Ajuste de margem para espaçamento */
}
 
.numero-estoque {
    font-size: 50px;
    /* Ajuste o tamanho conforme necessário */
}
 
/* Botões específicos */
 
.PaperCS {
    margin: 10px;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: #23A0BA;
    color: white;
    outline: none;
    text-decoration: none;
}
 
.Semanal,
.Reabastecimento {
    width: 100%;
    font-size: 24px;
    padding: 16px;
    margin: 12px 0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: #23A0BA;
    color: white;
    outline: none;
    text-decoration: none;
    text-align: center;
}
 
.exitbutton {
    width: 30px;
    text-decoration: none;
    height: 30px;
    cursor: pointer;
}
 
.zezinhobola {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-top: 40px;
    margin-left: 170px;
}
 
.zezinhobola img {
    width: 100%;
    height: auto;
    border: none;
}
 
.exit-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
 
.exit-popup .popup-content {
    background-color: white;
    /* Background branco */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}
 
.exit-popup .popup-content p {
    font-size: 18px;
    margin-bottom: 20px;
}
 
.exit-popup .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
}
 
.exit-popup .button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    /* Espaçamento entre os botões */
}
 
.exit-popup .button-container button#simButton {
    background-color: #3498db;
    /* Botões azuis */
    color: white;
}
 
.exit-popup .button-container button#naoButton {
    background-color: #e74c3c;
    color: white;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px); /* Aplicando o efeito de desfoque */
    z-index: 9999;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 10000; /* Ajustando z-index para aparecer acima do fundo embaçado */
    text-align: center;
}

@media only screen and (min-width: 600px) {
 
    .button-container {
        margin-top: 10px;
        /* Ajuste a margem superior para dispositivos menores */
    }
 
    .Semanal,
    .Reabastecimento {
        width: 100%;
        font-size: 24px;
        padding: 16px;
        margin: 12px auto;
        border-radius: 15px;
        border: none;
        cursor: pointer;
        background-color: #23A0BA;
        color: white;
        outline: none;
        text-decoration: none;
        text-align: center;
        display: block;
        margin-left: -22px;
    }
 
    .estoque-info {
        width: 70%;
        padding: 10px 10%;
        margin-left: 60px;
    }
 
    .zezinhobola {
        width: 100px;
        height: 100px;
        margin-left: 45%;
        margin-top: 20px;
    }
}
 
@media only screen and (min-width: 900px) {
 
    .button-container {
        margin-top: 10px;
        /* Ajuste a margem superior para dispositivos menores */
    }
 
    .Semanal,
    .Reabastecimento {
        width: 100%;
        font-size: 24px;
        padding: 16px;
        margin: 12px auto;
        border-radius: 15px;
        border: none;
        cursor: pointer;
        background-color: #23A0BA;
        color: white;
        outline: none;
        text-decoration: none;
        text-align: center;
        display: block;
        margin-left: -22px;
    }
 
    .estoque-container {
        top: 60%;
        left: 49%;
        height: auto;
    }
 
    .zezinhobola {
        width: 100px;
        height: 100px;
        margin-left: 44%;
        margin-top: 250px;
    }
}
 
@media only screen and (max-width: 360px) {
 
    .Semanal {
        margin-top: -30px;
    }
 
    .zezinhobola {
        margin-top: 10px;
        margin-left: 130px;
    }
 
}