body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-image: url('../images/background-zezinho.png');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    /* Evita a rolagem horizontal */
    overflow-x: hidden;
}
 
/* Cabecalho e conteúdo */
 
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1A5A6B;
    margin-top: 15px;
    /* Ajuste de margem para evitar estender a tela */
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    overflow: hidden;
}
 
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* Ajuste de margem para evitar estender a tela */
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    overflow: hidden;
}
 
/* Botões e informações de estoque */
 
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    /* Reduzi a margem para evitar a rolagem */
}
 
.estoque-info {
    text-align: center;
    background-color: black;
    border-radius: 15px;
    color: white;
    /* Reduzi um pouco a largura para evitar problemas */
    max-width: 120%;
    margin-top: -50px;
    /* Ajuste na margem para evitar estender a tela */
    overflow: hidden;
}
 
.numero-estoque {
    font-size: 50px;
    /* Ajuste o tamanho conforme necessário */
}
 
/* Botões específicos */
 
.PaperCS {
    margin: 10px;
    padding: 10px 15px;
    /* Ajustei o padding para melhorar a aparência responsiva */
    font-size: 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: #23A0BA;
    color: white;
    outline: none;
    text-decoration: none;
}
 
.Semanal,
.Pontual,
.Reabastecimento {
    width: 100%;
    font-size: 24px;
    padding: 16px;
    margin: 12px 0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: #23A0BA;
    color: white;
    outline: none;
    text-decoration: none;
}
 
.exitbutton {
    width: 28%;
    text-decoration: none;
    margin-right: -78px;
}
 
 
 
 
.zezinhobola {
    width: 100px;
    height: 100px;
    background-image: url('../images/zezinhobola.png');
    background-size: cover;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-top: 120px;
}
 
/* Media Query para dispositivos menores */
 
@media only screen and (max-width: 600px) {
    .button-container {
        margin-top: 40px;
        /* Ajuste a margem superior para dispositivos menores */
    }
 
    .Semanal,
    .Pontual,
    .Reabastecimento {
        width: 100%;
        font-size: 24px;
        padding: 16px;
        margin: 12px auto;
        border-radius: 15px;
        border: none;
        cursor: pointer;
        background-color: #23A0BA;
        color: white;
        outline: none;
        text-decoration: none;
        text-align: center;
        display: block;
        margin-left: -22px;
    }
 
    .estoque-info {
        width: 120%;
        padding: 10px 40%;
        margin-left: -54%;
    }
 
    .zezinhobola {
        width: 100px;
        height: 100px;
        margin-left: -4%;
    }
}