body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-image: url('../images/background-zezinho.png');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

/* Cabecalho e conteúdo */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1A5A6B;
    margin-top: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Botões e informações de estoque */

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}


.PaperCS {
    margin: 10px;
    padding: 10px 15px;
    /* Ajustei o padding para melhorar a aparência responsiva */
    font-size: 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: #23A0BA;
    color: white;
    outline: none;
    text-decoration: none;
}

.Semanal,
.Pontual,
.Reabastecimento {
    width: 100%;
    font-size: 24px;
    padding: 16px;
    margin: 12px 0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: #23A0BA;
    color: white;
    outline: none;
    text-decoration: none;
}

.exitbutton {
    width: 26%;
    text-decoration: none;
    margin-right: -70px;
}

.zezinhobola {
    width: 100px;
    height: 100px;
    background-image: url('../images/zezinhobola.png');
    background-size: cover;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-top: 20px;
}

/* Botões e informações de estoque */

.estoque-info {
    text-align: center;
    background-color: black;
    border-radius: 10px;
    color: white;
    max-width: 350px;
    margin-top: -80px;
    padding: 20px;
    border-radius: 25px;
}

.estoque-info p:nth-child(2) {
    font-size: 24px; 
    margin: 10;
}

/* Media Query para dispositivos menores */

@media only screen and (max-width: 600px) {
    .button-container {
        margin-top: 40px;
    }

    .estoque-info {
        width: 130%;
        margin-left: -50px;
        padding: 35px;
    }
}


.button-container {
    margin-top: 40px;
    /* Ajuste a margem superior para dispositivos menores */
}

.zezinhobola {
    width: 100px;
    height: 100px;
}
