body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-image: url('../images/background-zezinho.png');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1A5A6B;
    margin-top: 15px;
}

/* Estilos para o botão do Paper Control System */
.PaperCS {
    margin: 10px;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: #23A0BA;
    color: white;
    outline: none;
    text-decoration: none;
}

button_container .exitbutton {
    width: 30px;
    text-decoration: none;
    height: 30px;
    cursor: pointer;
}

.container {
    width: 80%;
    margin: 20px auto;
    margin-top: 60px;
    /* Espaçamento superior para deslocar os botões para baixo */
}

.select_container,
.opcoes {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

.data_reposicao input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    text-align: center;
    width: calc(95%);
    /* Diminui 2px da largura original */
    margin-top: 30px;
    /* Adiciona 10px de espaçamento superior */
}

/* Adicione esta regra para o label-floatig */
.data_reposicao label {
    position: absolute;
    pointer-events: none;
    padding: 10px;
    font-size: 16px;
    transition: 0.2s ease all;
    width: 100%;
    text-align: center;
}

/* Adicione esta regra para quando o input estiver focado ou tiver valor */
.data_reposicao input:focus+label,
.data_reposicao input:not(:placeholder-shown)+label {
    font-size: 14px;
    transform: translateY(-20px);
}


.select_container select,
.opcoes select {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    text-align: center;
    width: 100%;
    /* Para cobrir a largura do container */
}

.predio {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

.predio select {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    text-align: center;
    width: 100%;
    /* Para cobrir a largura do container */
}

.Enviar {
    position: fixed;
    bottom: 220px;
    /* Ajuste conforme necessário para a posição vertical desejada */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    width: 80%;
    max-width: 200px;
}

.exit-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.exit-popup .popup-content {
    background-color: white;
    /* Background branco */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.exit-popup .popup-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.exit-popup .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.exit-popup .button-container button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.exit-popup .button-container button#simButton {
    background-color: #3498db;
    /* Botões azuis */
    color: white;
}

.exit-popup .button-container button#naoButton {
    background-color: #e74c3c;
    color: white;
}